/* PC */
@media screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }
  .toggle-menu {
    display: none;
  }
  .show-on-mobile {
    display: none;
  }
}

/* Tablet & Mobile */
@media screen and (max-width: 991px) {
  .nav {
    position: relative;
    margin-left: 0;
  }

  .nav ul {
    display: none;
  }

  .header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .toggle-menu svg {
    width: 30px;
    color: #ffb900;
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }

  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background: #fff;
    z-index: 2;
    padding: 60px;
    transform: translateX(-100%);
  }

  .menu-drawer ul {
    margin-top: 32px;
  }

  .menu-drawer ul a {
    font-weight: 500;
    display: block;
    padding: 14px 0;
    color: #171100;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
    transition: 0.5s ease;
  }

  .header .action {
    margin-left: auto;
  }

  .separate {
    border-top: 1px solid #ffb900;
  }

  /* Hero */
  .hero .media-block {
    display: none;
  }

  .hero .content-block {
    width: 100%;
    padding: 70px 0 0 40px;
  }

  .features .images {
    flex-direction: column;
  }

  .features .body {
    justify-content: space-evenly;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .show-on-mobile {
    display: none;
  }

  .footer .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }

  .footer .row .column,
  .footer .row .column:first-child {
    width: 100%;
  }
}

/* Mobile  */
@media screen and (max-width: 767px) {
  .main-content {
    max-width: calc(100% - 60px);
  }
  .menu-drawer {
    padding: 40px;
    inset: 0 35% 0 0;
  }
  .header .action {
    display: none;
  }

  .heading.lv1 {
    font-size: 5.2rem;
  }

  .heading.lv2 {
    font-size: 3.5rem;
  }

  .btn {
    font-size: 1.4rem;
  }

  .hero .content-block {
    padding: 50px 0 0 30px;
  }

  .hero .desc {
    font-size: 1.6rem;
  }

  .hero-cta {
    min-width: 135px;
  }

  .hero .watch-video span {
    font-size: 1.4rem;
  }

  .hero .stats strong {
    font-size: 3.5rem;
  }

  .popular-top .desc {
    width: 100%;
    margin-bottom: 20px;
  }

  .popular-top {
    flex-direction: column;
    align-items: center;
  }

  .popular .courses-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .popular .course-item .info {
    padding: 16px 12px 22px;
  }
  /* 
  .popular .course-item .desc {
    font-size: 1.5rem;
  } */

  .info {
    text-align: center;
  }

  .feedback-item .info .title {
    font-size: 2rem;
  }

  .feedback-item .info .desc {
    font-size: 1.1rem;
  }

  .feedback-item .content {
    font-size: 1.4rem;
  }

  .feedback-item .dots {
    justify-content: center;
  }

  .features .body {
    flex-direction: column-reverse;
    /* justify-content: space-between; */
  }

  .features .images img {
    width: auto;
  }

  .features .content {
    width: 100%;
    margin-left: 15px;
  }

  .features-2nd .images img {
    /* display: none; */
    margin-top: 50px;
  }

  .blog .blog-top .desc {
    width: 100%;
  }

  .blog .blog-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* overflow: hidden; */
  }

  .blog .item {
    width: 100%;
  }

  .footer {
    padding: 30px 12px 0;
  }

  .footer .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
  }

  .footer .row .column,
  .footer .row .column:first-child {
    width: 100%;
  }
}

/* Mobile XSmall*/
@media screen and (max-width: 576px) {
}
