/* PC */
@media screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }
  .toggle-menu {
    display: none;
  }
  .show-on-mobile {
    display: none;
  }
}

/* Tablet & Mobile */
@media screen and (max-width: 991px) {
  .nav {
    position: relative;
    margin-left: 0;
  }

  .nav ul {
    display: none;
  }

  .header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .toggle-menu svg {
    width: 30px;
    color: #ffb900;
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }

  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background: #fff;
    z-index: 2;
    padding: 60px;
    transform: translateX(-100%);
  }

  .menu-drawer ul {
    margin-top: 32px;
  }

  .menu-drawer ul a {
    font-weight: 500;
    display: block;
    padding: 14px 0;
    color: #171100;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
    transition: 0.5s ease;
  }

  .header .action {
    margin-left: auto;
  }

  .separate {
    border-top: 1px solid #ffb900;
  }

  /* Hero */
  .hero .media-block {
    display: none;
  }

  .hero .content-block {
    width: 100%;
    padding: 70px 0 0 40px;
  }

  .features .images {
    flex-direction: column;
  }

  .features .body {
    justify-content: space-evenly;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .show-on-mobile {
    display: none;
  }
}

/* Mobile  */
@media screen and (max-width: 767px) {
  .menu-drawer {
    padding: 40px;
    inset: 0 35% 0 0;
  }
  .header .action {
    display: none;
  }
}

/* Mobile XSmall*/
@media screen and (max-width: 576px) {
}
